In [1]:
import pandas as pd

In [2]:
Clasificacion = pd.read_csv("ClasOficial.csv")
Clasificacion.head()

,Unnamed: 0,Team,Points J5,Goals Scored J5,Goals Received J5,Points J38,Goals J38
0,1,Barcelona,12,13,2,87,99
1,2,Real Madrid,12,8,2,79,65
2,3,Sevilla,12,8,3,79,65
3,4,R. Sociedad,8,7,2,76,49
4,5,Getafe,9,5,4,76,57

In [3]:
Clasificacion["Local Goals"] = round(Clasificacion["Goals J38"]*0.58)
Clasificacion["Local Goals"] = [int(i) for i in Clasificacion["Local Goals"]]

In [4]:
Clasificacion["Local Goals pm"] = round(Clasificacion["Local Goals"]/19,2)

In [5]:
Clasificacion["Visitor Goals"] = round(Clasificacion["Goals J38"]*0.42)
Clasificacion["Visitor Goals"] = [int(i) for i in Clasificacion["Visitor Goals"]]

In [6]:
Clasificacion["Visitor Goals pm"] = round(Clasificacion["Visitor Goals"]/19,2)

In [7]:
Clasificacion.columns

Index(['Unnamed: 0', 'Team', 'Points J5', 'Goals Scored J5',
       'Goals Received J5', 'Points J38', 'Goals J38', 'Local Goals',
       'Local Goals pm', 'Visitor Goals', 'Visitor Goals pm'],
      dtype='object')

In [8]:
Predictions = Clasificacion.drop(columns=["Points J5", "Goals Scored J5","Goals Received J5"])

In [9]:
Predictions = Predictions.rename(columns={"Points J38":"Points","Goals J38":"Total Goals","Unnamed: 0":"Position"})

In [10]:
Predictions = Predictions.set_index("Position")

In [11]:
Predictions.to_csv("Predictions.csv")